@model SnowboardProject.Models.ForumPost

<div class="card text-white bg-dark mb3 " style="width: 100%;">
    <div class="card-body text-center">
        @* <p id="id" class="card-title">Post ID: @Model.id</p> *@

        <p class="card-text">@Model.UserIdEmail</p>

        <p class="card-text">@Model.PostTitle</p>


        @* <p class="card-text">Post: @Model.Post</p> *@


    </div>



</div>