@model SnowboardProject.Models.ForumPost

<div class="card text-white bg-dark mb3 " style="width: 18rem;">
    <div class="card-body">
        <p id="id" class="card-title">Post ID: @Model.id</p>

        <p class="card-text">Title: @Model.PostTitle</p>


        <p class="card-text">Post: @Model.Post</p>


    </div>



</div>