@model SnowboardProject.Models.Resort

<div class="card text-white bg-dark mb3 " style="width: 18rem;">
    <div class="card-body">
    <p id = "id" class="card-title">Resort ID: @Model.ResortId</p>

    <p class="card-text">Resort Name: @Model.ResortName</p>
    <p class="card-text">Locations: @Model.ResortLocation</p>
    <p class="card-text">Elavtions: @Model.ResortElevation</p>

    </div>



</div>