@model SnowboardProject.Models.User

<div class="card text-white bg-dark mb3 " style="width: 18rem;">
    <div class="card-body">
    <p id = "id" class="card-title">User ID: @Model.id</p>

    <p class="card-text">User Email: @Model.UserEmail</p>
    <p class="card-text">UserName: @Model.UserName</p>
 



    </div>