@model SnowboardProject.Models.ForumPost

 <title>@ViewData["Title"] Add Post Form</title>


<h1>Add New Post</h1>

@using (@Html.BeginForm("AddForumPost", "Main"))
{
    <partial name = "_ForumPostForm" model = "@Model"/>

    <button type="submit" class="btn btn-success">Add Post</button>
}