@model SnowboardProject.Models.Resort

 <title>@ViewData["Title"] Add Resort Form</title>


<h1>Add New Resort</h1>

@using (@Html.BeginForm("AddResort", "Main"))
{
    <partial name = "_ResortForm" model = "@Model"/>

    <button type="submit" class="btn btn-success">Add Resort</button>
}