@model SnowboardProject.Data.ApplicationDbContext

<title>@ViewData["Title"] All Forum Posts</title>

<h1>All Forum Posts</h1>

<div>

    @foreach (ForumPost post in @Model.ForumPosts)
    {
        <a asp-area="" asp-controller="Main" asp-action="PostDetails" asp-route-postID = "@post.id">

        <partial name="_ForumPostDetails" model="@post" />

        </a>
    }



</div>