@model SnowboardProject.Data.ApplicationDbContext

<title>@ViewData["Title"] All Resorts</title>

<h1>All Resorts</h1>

<div class="card-columns">

    @foreach (Resort resort in @Model.ListOfResorts)
    {
        <partial name="_ResortDetails" model="@resort" />
    }



</div>